@{
    ViewBag.Title = "Contact";
}

<div class="page-container">
  <h2>@ViewBag.Title</h2>

  <address>
    <p>Wayne Holmes</p>
    Email: <a href="mailto:notiedowns@yahoo.co.nz">notiedowns@yahoo.co.nz</a><br />
  </address>
</div>
