<div class="container" ng-init="search()">

    <div class="row">
        <h2 class="col-sm-6">Products</h2>
        <div class="col-sm-3" style="margin-top: 20px; text-align: center;" ng-controller="CartController" ng-init="getCart()" ng-show="cart.count > 0">
            <span style="font-size: 20px; padding: 10px; border-radius: 10px; background-color: lightsteelblue;">
                <i class="glyphicon glyphicon-shopping-cart"><span style="font-size: 15px; margin-bottom: 3px;">({{cart.count}}) {{cart.totalCost | currency}}</span></i>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Search</label>
                <input type="text" class="form-control input-sm" ng-model="searchQuery" ng-keyup="keyup()" ng-keydown="keydown()" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Sort Order</label>
                <select class="form-control input-sm" ng-model="productSortOrder">
                    <option value="+name">Name ascending</option>
                    <option value="-name">Name descending</option>
                    <option value="+price">Price ascending</option>
                    <option value="-price">Price descending</option>
                    <option value="+dateListed">Date listed ascending</option>
                    <option value="-dateListed">Date listed descending</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" ng-repeat="photo in photos | orderBy: productSortOrder" style="height: 300px; margin: 0 20px 20px 0;">
            <div style="font-weight: bold;">{{photo.name}}</div>
            <img ng-src="../../images/thumbs/{{photo.imagePath}}" ng-click="showSelectedPhoto(photo.id)"/>
            <div style="font-size: 0.7em;">By {{photo.author}}</div>
            <div style="font-size: 0.7em;">Listed on {{photo.dateListed | date:'dd-MM-yyyy hh:mm'}} {{photo.dateListed | fromNow}}</div>
            <div style="font-size: 0.7em;">Article ID: {{photo.number}}</div>
            <div style="font-style: italic; color: dodgerblue; display: inline; margin-right: 10px;">{{photo.price | currency}}</div>
            <button type="button" class="btn btn-xs btn-default" ng-click="addToCart(photo.id)">Add to cart</button>
        </div>
    </div>

    <div id="modalViewPhoto" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 830px; text-align: center;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{selectedPhoto.name}}</h4>
                </div>
                <div class="modal-body">
                    <img ng-src="../../images/large/{{selectedPhoto.imagePath}}" />
                </div>
            </div>
        </div>
    </div>

