<div class="container" ng-init="getPhotos()" >
<!--<div class="container" ng-controller="PhotolistController">-->

    <h2>Products</h2>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Search</label>
                <input type="text" class="form-control input-sm" ng-model="query" ng-keyup="keyup()" ng-keydown="keydown()" />
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Sort Order</label>
                <select class="form-control input-sm" ng-model="productSortOrder">
                    <option value="+name">Name ascending</option>
                    <option value="-name">Name descending</option>
                    <option value="+price">Price ascending</option>
                    <option value="-price">Price descending</option>
                    <option value="+dateListed">Date listed ascending</option>
                    <option value="-dateListed">Date listed descending</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" ng-repeat="photo in photos | orderBy: productSortOrder" style="height: 300px; margin: 5px; background-color: white;">
            <div style="font-weight: bold;">{{photo.name}}</div>
            <img src="../../images/{{photo.imagePath}}" />
            <div style="font-size: 0.7em;">By {{photo.author}}</div>
            <div style="font-size: 0.7em;">Listed on {{photo.dateListed | date:'dd-MM-yyyy hh:mm'}} {{photo.dateListed | fromNow}}</div>
            <div style="font-size: 0.7em;">Article ID: {{photo.number}}</div>
            <div style="font-style: italic; color: dodgerblue; display: inline; margin-right: 10px;">{{photo.price | currency}}</div><button type="button" class="btn btn-xs btn-default">Add to cart</button>
        </div>
    </div>
</div>