<div class="container" ng-init="getCategories()">

    <h2>Categories</h2>

    <div class="row">
        <div class="col-sm-8">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Last Changed By</th>
                    <th>Last Changed</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="category in categories | orderBy:name">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.description}}</td>
                    <td>{{category.lastChangedBy}}</td>
                    <td>{{category.lastChanged | date:'dd-MM-yyyy hh:mm'}}</td>
                    <td><a href="#/EditCategory/{{category.id}}"><i class="glyphicon glyphicon-edit" title="Edit"></i></a></td>
                    <td><a><i class="glyphicon glyphicon-remove" title="Delete" ng-click="confirmDeleteCategory(category.id)"></i></a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <a href="#/EditCategory" style="cursor: pointer;">Create Category</a>
        </div>
    </div>

</div>