<div class="container">

    <h2>{{editTitle}}</h2>

    <form name="editPhotoForm" novalidate>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Number</label>
                    <input type="text" name="number" ng-model="selectedPhoto.number" class="form-control input-sm" autocomplete="off" autofocus />
                    <div class="text-danger">{{validationErrors.Number}}</div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" ng-model="selectedPhoto.name" class="form-control input-sm" autocomplete="off"/>
                    <div class="text-danger">{{validationErrors.Name}}</div>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <!--<select class="form-control input-sm" ng-model="selectedPhoto.categoryId" ng-init="selectedCategory">
                        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                    </select>-->
                    <select class="form-control input-sm" ng-options="c.name for c in categories" ng-model="selectedCategory"></select>
                    <div class="text-danger">{{validationErrors.CategoryId}}</div>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" name="name" ng-model="selectedPhoto.price" class="form-control input-sm" autocomplete="off"/>
                    <div class="text-danger">{{validationErrors.Price}}</div>
                </div>
                <div class="form-group">
                    <label>Image Path</label>
                    <input type="text" name="name" ng-model="selectedPhoto.imagePath" class="form-control input-sm" autocomplete="off"/>
                    <div class="text-danger">{{validationErrors.ImagePath}}</div>
                </div>
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" name="author" ng-model="selectedPhoto.author" class="form-control input-sm" autocomplete="off"/>
                    <div class="text-danger">{{validationErrors.Author}}</div>
                </div>
                <button class="btn btn-sm btn-default" ng-click="editPhoto(photo)">Save</button>
                <a href="/Shop/AdminStart#/PhotoList" class="btn btn-sm btn-default">Cancel</a>
            </div>
        </div>
    </form>    

</div>