@{
    ViewBag.Title = "Checkout";
}

<script src="~/Scripts/Shop/shop-module.js"></script>
<script src="~/Scripts/Services/shop-helpers.js"></script>
<script src="~/Scripts/Services/alert-service.js"></script>
<script src="~/Scripts/Services/notification-service.js"></script>
<script src="~/Scripts/Category/category-repository.js"></script>
<script src="~/Scripts/Category/category-list-controller.js"></script>
<script src="~/Scripts/Category/category-edit-controller.js"></script>
<script src="~/Scripts/Photo/photo-repository.js"></script>
<script src="~/Scripts/Photo/photo-list-controller.js"></script>
<script src="~/Scripts/Photo/photo-edit-controller.js"></script>
<script src="~/Scripts/Photo/photolist-bs-table-controller.js"></script>
<script src="~/Scripts/Cart/cart-controller.js"></script>
<script src="~/Scripts/Cart/cart-repository.js"></script>
<script src="~/Scripts/Menu/menu-controller.js"></script>
<script src="~/Scripts/Menu/menu-repository.js"></script>
<script src="~/Scripts/Filters/from-now-filter.js"></script>


<div class="container" ng-app="shopModule" style="margin-top: 70px;">

    <div class="row">
        <div ng-view></div>
    </div>
</div>

