@{
    ViewBag.Title = "Photographic Shop";
}

<script src="~/Scripts/Shop/shop-module.js"></script>
<script src="~/Scripts/Photos/photolist-controller.js"></script>
<script src="~/Scripts/Photos/photocreate-controller.js"></script>
<script src="~/Scripts/Menu/menu-controller.js"></script>
<script src="~/Scripts/Photos/photo-repository.js"></script>
<script src="~/Scripts/Menu/menu-repository.js"></script>
<script src="~/Scripts/Filters/from-now-filter.js"></script>

<script type="text/javascript">
    @*registrationModule.factory('bootstrappedData', function() {
            return {
                photos: @Html.Raw(Model.Photos),
                authors: @Html.Raw(Model.Authors)
            };
        });*@
</script>

<div class="container" ng-app="shopModule">

    <h2 style="margin-top: 70px;">Shop</h2>

    <side-navbar></side-navbar>

    <div ng-view></div>
</div>

