@{
    ViewBag.Title = "Photographic Shop";
}

<script type="text/javascript">
    @*registrationModule.factory('bootstrappedData', function() {
            return {
                photos: @Html.Raw(Model.Photos),
                authors: @Html.Raw(Model.Authors)
            };
        });*@
</script>

<h2 style="margin-top: 70px;">Shop</h2>

<div class="container">
    <div class="navbar navbar-default" ng-controller="MenuController">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="menuItem in menuItems">
                    <a href="{{menuItem.url}}">{{menuItem.displayName}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div ng-view></div>
</div>

