@{
    ViewBag.Title = "Photographic Shop";
}

<script src="~/Scripts/Shop/shop-module.js"></script>
<script src="~/Scripts/Helpers/shop-helpers.js"></script>
<script src="~/Scripts/Helpers/alert-service.js"></script>
<script src="~/Scripts/Admin/Category/category-broadcaster.js"></script>
<script src="~/Scripts/Menu/menu-controller.js"></script>
<script src="~/Scripts/Menu/menu-repository.js"></script>
<script src="~/Scripts/Admin/Photo/photo-repository.js"></script>
<script src="~/Scripts/Admin/Photo/photo-list-controller.js"></script>
<script src="~/Scripts/Filters/from-now-filter.js"></script>

<script type="text/javascript">
    @*registrationModule.factory('bootstrappedData', function() {
            return {
                photos: @Html.Raw(Model.Photos),
                authors: @Html.Raw(Model.Authors)
            };
        });*@
</script>

<div id="productContainer" class="container" ng-app="shopModule" style="margin-top: 70px; width: 1500px;">

    <div class="row">
        <div class="col-sm-2">
            <category-side-navbar></category-side-navbar>            
        </div>
        <div class="col-sm-10">
            <div ng-view></div>            
        </div>
    </div>
</div>

