@{
    ViewBag.Title = "PhotoB";
}

<script src="~/Scripts/Shop/shop-module.js"></script>
<script src="~/Scripts/Services/shop-helpers.js"></script>
<script src="~/Scripts/Services/alert-service.js"></script>
<script src="~/Scripts/Services/notification-service.js"></script>
<script src="~/Scripts/Menu/menu-controller.js"></script>
<script src="~/Scripts/Menu/menu-repository.js"></script>
<script src="~/Scripts/Photo/photo-repository.js"></script>
<script src="~/Scripts/Photo/photo-list-controller.js"></script>
<script src="~/Scripts/Filters/from-now-filter.js"></script>
<script src="~/Scripts/Cart/cart-controller.js"></script>
<script src="~/Scripts/Cart/cart-repository.js"></script>

<div id="productContainer" ng-app="shopModule" class="page-container">
  <div class="row">
    <div class="col-sm-3">
      <category-side-navbar></category-side-navbar>
    </div>
    <div class="col-sm-9">
      <div ng-view></div>
    </div>
  </div>
</div>

