@{
    ViewBag.Title = "Admin";
}

<script>
    var myModule = angular.module('myModule', []);
    myModule.factory('mySharedService', function ($rootScope) {
        var sharedService = {};

        sharedService.message = '';

        sharedService.prepForBroadcast = function (msg) {
            this.message = msg;
            this.broadcastItem();
        };

        sharedService.broadcastItem = function () {
            $rootScope.$broadcast('handleBroadcast');
        };

        return sharedService;
    });

    var ControllerZero = function($scope, sharedService) {
        $scope.handleClick = function (msg) {
            sharedService.prepForBroadcast(msg);
        };

        $scope.$on('handleBroadcast', function () {
            $scope.message = sharedService.message;
        });
    }

    var ControllerOne = function($scope, sharedService) {
        $scope.$on('handleBroadcast', function () {
            $scope.message = 'ONE: ' + sharedService.message;
        });
    }

    var ControllerTwo = function($scope, sharedService) {
        $scope.$on('handleBroadcast', function () {
            $scope.message = 'TWO: ' + sharedService.message;
        });
    }

    angular.module('myModule').controller("ControllerZero", ["$scope", "mySharedService", ControllerZero]);
    angular.module('myModule').controller("ControllerOne", ["$scope", "mySharedService", ControllerOne]);
    angular.module('myModule').controller("ControllerTwo", ["$scope", "mySharedService", ControllerTwo]);

</script>


<div class="container" ng-app="myModule" style="margin-top: 70px;">
    
    <div ng-controller="ControllerZero">
        <input ng-model="message">
        <button ng-click="handleClick(message);">LOG</button>
    </div>

    <div ng-controller="ControllerOne">
        <input ng-model="message">
    </div>

    <div ng-controller="ControllerTwo">
        <input ng-model="message">
    </div>

</div>

