@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="margin-top:50px;">
    <div class="col-md-10">
        <h2>Create Photo {{2 + 2}}</h2>
    </div>
</div>

<div ng-include="'/Templates/createPhotoDetails.html'"></div>


