@{
    ViewBag.Title = "Photo List";
}

<h2 style="margin-top: 70px;">Photo List {{2 + 2}}</h2>

<div class="navbar navbar-default" style="margin-top: 50px;" ng-controller="MenuController">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li ng-repeat="menuItem in menuItems">
                <a href="{{menuItem.url}}">{{menuItem.displayName}}</a>
            </li>
        </ul>
    </div>
</div>

<div ng-include="'/Templates/photoListDetails.html'"></div>