<div class="container" ng-init="getCart()">

    <h2>Checkout</h2>

    <div class="row">
        <div class="col-sm-8">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                <tr ng-repeat="photo in cart.photos | orderBy:productSortOrder">
                    <td>{{photo.number}}</td>
                    <td>{{photo.name}}</td>
                    <td>{{photo.price | currency}}</td>
                    <td><img ng-src="../../images/thumbs/{{photo.imagePath}}" style="width: 40px;" /></td>
                    <td>{{photo.quantity}}</td>
                    <td><a><i class="glyphicon glyphicon-remove" title="Remove" ng-click="removeFromCart(photo.id)"></i></a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8" style="text-align: right;">
            <button type="button" class="btn btn-primary btn-sm" ng-click="purchase()">Purchase</button>
        </div>
    </div>

</div>