@model PhotoB.Models.Shop.ShopVm

@{
    ViewBag.Title = "Authors List";
}

@section JavascriptInHead
{
    <script src="~/Scripts/Authors/authors-controller.js"></script>
    <script type="text/javascript">
        shopModule.factory('bootstrappedData', function () {
            return {
                authors: @Html.Raw(Model.Authors)
                };
        });
    </script>
}


<h2 style="margin-top: 70px;">Author List {{2 + 2}}</h2>

<div class="container" ng-controller="AuthorsController">
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Author ID</th>
                    <th>Author Name</th>
                </tr>
                <tr ng-repeat="author in authors">
                    <td>{{author.number}}</td>
                    <td>{{author.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

